.card {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center; 
    padding: 15px; 
    border:solid 3px;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
    border-color: rgb(151, 151, 151);
}

#total {
    color:blue
}

#txt {
    font-size: 40px;
    color:blue;
    font-weight: bold;
}